RewriteEngine On

#https://gist.github.com/ScottPhillips/1721489

# first rule
# the following checks for a given URL (such as /file) and sees if /file.html exists. if it does exist, then it applies the rewrite rule which will redirect to /file.html
# HOWEVER, the URL will not include the .html even though it has been redirected to it. 
# example: pittras.org/mprw displays pittras.org/mprw.html file but the URL will remain as pittras.org/mprw

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.html$ /$1 [L,R=301]


RedirectMatch 301 /index.html https://www.pittras.org
